html {
    font-size: 5vmin;
    font-family: josefin-sans;
}

body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    font-family: sans-serif;
    scroll-snap-type: proximity;
    /* older spec implementation */
    scroll-snap-destination: 0% 100%;
    scroll-snap-points-x: repeat(100%);
}

body > nav {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-direction: row;
    height: 100%;
}

body > nav > section {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
}

body > nav > section > header {
    height: 2rem;
    max-height: 3rem;
    line-height: 100%;
    font-weight: 300;
    font-variant: small-caps;
    padding: 0 1rem;
    font-size: 1.1rem;
    flex: 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body > nav > section > article {
    padding: 1rem;
    overflow-y: auto;
    flex: 1 0;
}


em {
    opacity: .5;
}


article > h1 {
    border-top: 1px solid rgba(0,0,0,.5);
    margin: 2rem -1rem 1rem -1rem;
    font-variant: small-caps;
    padding: .2rem 1rem;
    font-weight: normal;
    font-size: 1rem;
}

article > h1:first-child {
    margin-top: 0;
}


article ul {
    padding-left: .5rem;
}

article > h1 {
    border-top: 1px solid rgba(0,0,0,.5);
    margin: 2rem -1rem 1rem -1rem;
    font-variant: small-caps;
    padding: .2rem 1rem;
    font-weight: normal;
    font-size: 1rem;
}

article ul > li {
    margin: .3rem 0;
}


a, a:visited {
    color: #004aad;
}
